* {
    font-family: 'Lato', sans-serif;
    ;
}

/* header section styles */
.header {
    background: #E554731A;
    /* width: 1920px;
    height: 850px;
    flex-shrink: 0; */
    margin-top: 0;
    padding-top: 0;
}

.header-section {
    display: flex;
    justify-content: space-around;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    text-align: left;
    line-height: normal;
    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    padding: 200px 900px 0px 240px;
    margin-bottom: 0px;

}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0px 900px 0px 240px;
    margin-bottom: 0px;
    margin-top: 32px;
}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    margin-left: 240px;
    margin-top: 30px;
}

.header-image {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    padding: 50px 250px 0px 0px;
}

/* main section styles */
main {
    max-width: 1920px;
    margin: 0 auto;
}

/* section-1 */

.section-1 {
    margin-top: 170px;
    margin-bottom: 130px;
}

.section-1-title {
    color: #272727;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.section-1-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.image-with-anchor {
    display: flex;
    justify-content: center;
}

.img-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    padding: 100px 75px 0px 75px;
    margin-right: 25px;
}

.img-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    padding: 100px 75px 0px 75px;
    margin-right: 25px;
}

.img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    padding: 100px 75px 0px 75px;
    margin-right: 0px;
}

.caption{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    display: flex;
    justify-content: space-around;
}


.section-3 {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    border: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.section-3-images {
    width: 318px;
    height: 420px;
    flex-shrink: 0;
}

.section-3-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    padding: 230px 0px 0px 420px;
}

span {
    color: #E55473;
}

.section-3-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
}

/* footer section styles */
.footer {
    background: #111010;
    align-items: center;
    margin: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.footer-title {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 130px 830px 0px 830px;
    margin-bottom: 25px;
}

.footer-span {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 625px;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 0px;
    padding: 0px 650px 0px 650px;
    margin-bottom: 30px;

}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding-bottom: 120px;
    padding-right: 780px;
    padding-left: 780px;
}